@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        --brand-accent: #0fa1b4;
        /* https://ishadeed.com/article/defensive-css */
        overflow-wrap: break-word;
        overflow-y: auto;
        scrollbar-gutter: stable;
    }

    /* .dark > body {
    --brand-accent: #a16207;
  } */
    :root {
        accent-color: var(--brand-accent);
    }

    :focus-visible {
        outline-color: var(--brand-accent);
    }

    ::selection {
        background-color: var(--brand-accent);
    }

    .dark ::selection {
        color: #1d1d1d;
    }

    ::marker {
        color: var(--brand-accent);
    }

    :is(::-webkit-calendar-picker-indicator, ::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
        color: var(--brand-accent);
    }

    /* https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/ */
    details {
        border: 2px solid var(--brand-accent);
        padding: 0.5rem 1rem;
    }

    details > summary {
        cursor: pointer;
    }

    details > summary > *:first-child {
        display: inline;
    }

    img {
        /* https://ishadeed.com/article/defensive-css */
        max-width: 100%;
        object-fit: cover;
    }

    .utterances-frame {
        outline: none;
    }

    iframe, embed {
        width: 100%;
        @apply border-2 border-amber-400 dark:border-amber-200 rounded;
    }

    img + a {
        text-align: center;
        display: block;
        margin-top: 1rem;
        font-style: italic;
    }
}

/* bg-cyan-200 dark:hover:bg-cyan-800 */
a {
    @apply text-cyan-800 hover:text-cyan-700 hover:underline dark:text-cyan-400 dark:hover:text-cyan-200;
}

.prose h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    /* margin-left: 1rem; */
    text-decoration: none !important;
    @apply text-cyan-800 dark:text-cyan-400;
}

.prose h2::before {
    content: '## ';
}

.prose h3::before {
    content: '### ';
}

.prose h4::before {
    content: '#### ';
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
    content: '';
    margin-bottom: -0.098em;
    display: table;
}

.capsize::after {
    content: '';
    margin-top: -0.219em;
    display: table;
}

/*
  CUSTOM SCROLLBARS!
  - https://css-tricks.com/strut-your-stuff-with-a-custom-scrollbar/
  */
body {
    /* --scrollbar-primary-color: #3730a3; */
    --scrollbar-primary-color: var(--brand-accent);
    --text-color: #ef4444;
}

/* .dark body {
    --scrollbar-primary-color: #8db2e5;
  } */
/* body::-webkit-scrollbar-track {
    background-color: var(--bg-color);
  } */
body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--scrollbar-primary-color), var(--text-color));
    border-radius: 4px;
}
